body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkslateblue;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  padding-left: 20px;
}
p{
  padding-left: 20px;
  color: aliceblue ;
}
img{
  padding: 15px;
  height: 120px;
  width: 120px;
  z-index: 1;
}
.list{
  color: aliceblue;
}
